@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300&family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(233, 216, 166);
  margin-left: 45%;
}

header {
  font-family: Montserrat, cursive;
}

#title {
  font-family: Rock Salt, cursive;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.color.black {
  background-color: black;
}

.color.bisque {
  background-color: bisque;
}

.color.darkgoldenrod {
  background-color: darkgoldenrod;
}

.color.darkred {
  background-color: darkred;
}

.color.selected {
  border: 1px solid black;
  box-shadow: 2px 2px 2px white,
    3px 3px 3px black;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-top: -2px;
  margin-bottom: -2px;
}
